# Python virtual environment
.venv/
venv/
env/
bin/
lib/

# Mac system files
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local data (optional, kalau datanya gede banget dan gamau di-push)
# data/